# Next.js
/.next
/out
/.vercel

# Node.js
/node_modules

# Build artifacts
/build
/coverage

# Environment variables
/.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific
.idea
.vscode
*.swp
*.swo
